.beer-horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
}

.beer-horizontal-scroll-card {
  position: relative;
  flex: 0 0 auto;
  border: none;
  width: 100%;
  overflow: hidden;
}

.beer-blond {
  background: var(--yellow-biere);
  width: 90%;
  position: relative;
}

.beer-blond button {
  color: var(--yellow-biere);
}

.beer-ipa {
  background: var(--red-biere);
  width: 90%;
  position: relative;
}

.beer-ipa button {
  color: var(--red-biere);
}

.beer-dark {
  background: var(--brown-biere);
  width: 90%;
  position: relative;
}

.beer-dark button {
  color: var(--brown-biere);
}

::-webkit-scrollbar {
  display: none;
}

.beer-button {
  background: var(--white);
  border: none;
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  right: 144px;
  bottom: 40px;
  transition: transform 0.4s;
}

.beer-button:hover {
  transform: scale(1.1);
}

.beer-button:active {
  color: var(--white);
  outline: 4px solid var(--white);
}

.beer-blond .beer-button:active {
  background: var(--yellow-biere);
}

.beer-ipa .beer-button:active {
  background: var(--red-biere);
}

.beer-dark .beer-button:active {
  background: var(--brown-biere);
}

.beer h4 {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.beer p {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.beer-img {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  height: 95%;
  width: 95%;
}

.beer-ipa .beer-img {
  bottom: 60px;
}

.beer-dark .beer-img {
  bottom: 80px;
}

.beer-ingredient {
  padding-bottom: 100px;
}

.beer-triangle {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
}

.beer-ipa .beer-triangle {
  border-top: 325px solid transparent;
  border-bottom: 325px solid transparent;
  border-left: 100px solid var(--yellow-biere);
}

.beer-dark .beer-triangle {
  border-top: 300px solid transparent;
  border-bottom: 300px solid transparent;
  border-left: 100px solid var(--red-biere);
}
