.biere-horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
}

.biere-horizontal-scroll-card {
  position: relative;
  flex: 0 0 auto;
  border: none;
  width: 100%;
  overflow: hidden;
}

.biere-blond {
  background: var(--yellow-biere);
  width: 90%;
  position: relative;
}

.biere-blond button {
  color: var(--yellow-biere);
}

.biere-ipa {
  background: var(--red-biere);
  width: 90%;
  position: relative;
}

.biere-ipa button {
  color: var(--red-biere);
}

.biere-dark {
  background: var(--brown-biere);
  width: 90%;
  position: relative;
}

.biere-dark button {
  color: var(--brown-biere);
}

::-webkit-scrollbar {
  display: none;
}

.biere-button {
  background: var(--white);
  border: none;
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  right: 144px;
  bottom: 40px;
  transition: transform 0.4s;
}

.biere-button:hover {
  transform: scale(1.1);
}

.biere-button:active {
  color: var(--white);
  outline: 4px solid var(--white);
}

.biere-blond .biere-button:active {
  background: var(--yellow-biere);
}

.biere-ipa .biere-button:active {
  background: var(--red-biere);
}

.biere-dark .biere-button:active {
  background: var(--brown-biere);
}

.biere h4 {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.biere p {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.biere-img {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  height: 95%;
  width: 95%;
}

.biere-ipa .biere-img {
  bottom: 60px;
}

.biere-dark .biere-img {
  bottom: 80px;
}

.biere-triangle {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
}

.biere-ipa .biere-triangle {
  border-top: 325px solid transparent;
  border-bottom: 325px solid transparent;
  border-left: 100px solid var(--yellow-biere);
}

.biere-dark .biere-triangle {
  border-top: 300px solid transparent;
  border-bottom: 300px solid transparent;
  border-left: 100px solid var(--red-biere);
}
