.biere-horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
}

.biere-horizontal-scroll-card {
  flex: 0 0 auto;
  width: 100%;
  border: none;
  margin-left: 0;
}

.biere-blond {
  background: var(--yellow-biere);
  width: 100%;
}

.biere-ipa {
  background: var(--red-biere);
  width: 100%;
}

.biere-dark {
  background: var(--brown-biere);
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.biere-ingredient {
  margin: 72px;
}

.biere-bouton-know {
  background: var(--white);
  border: none;
  margin: 48px 72px 43px;
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;
  padding: 20px 31px;
}
