.tasting {
  position: relative;
}

.tasting-biere-img {
  position: absolute;
  top: 169px;
  left: 0;
}

.tasting-button button {
  position: absolute;
  bottom: 320px;
  right: 110px;
  width: 309px;
  color: var(--yellow);
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: transform 0.4s;
}

.tasting-button button:hover {
  transform: scale(1.1);
  color: var(--black);
  background: var(--yellow);
}
