.engagement {
  padding-top: 166px;
  position: relative;
}

.engagement-text h2 {
  margin-top: 51px;
  padding-bottom: 132px;
}

img.engagement-img-orge {
  position: absolute;
  width: 30%;
  left: 0;
  bottom: 140px;
}

img.engagement-img-champs {
  margin-left: 108px;
}
