.engagement {
  position: relative;
}

img.engagement-img-orge {
  position: absolute;
  width: 30%;
  left: 0;
  bottom: 140px;
}

@media (min-width: 1200px) {
  .engagement-img-fields {
    margin-right: -10000px;
  }
}
