.footer-text {
  color: var(--white);
}

a.footer-text {
  text-decoration: none;
}

a.footer-text:hover {
  text-decoration: underline;
}

.footer-newsletter-inscription form input {
  background: var(--white);
  width: 473px;
  height: 45px;
  border: none;
  padding-left: 26px;
}

.footer-newsletter-inscription form input::placeholder {
  color: var(--black);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.footer-text-droits {
  text-align: center;
}

.footer-img-logo {
  width: 497px;
  height: 92px;
  flex-shrink: 0;
}

.footer-text-inscription {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-reseauxsociaux-tiktok,
.footer-reseauxsociaux-instagram {
  display: flex;
}

.footer-reseauxsociaux-icon {
  padding-right: 10px;
}

.footer-reseauxsociaux {
  font-size: 20px;
}

.footer-text-politique {
  text-decoration-line: underline;
}
