.header-text {
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
}

.header-profil-and-shop {
  position: fixed;
  z-index: 4;
  right: 60px;
  top: 148px;
  transition: transform 0.3s;
}

.header-profil-and-shop.hidden-scroll {
  transform: translateX(300px);
}

.header-icon {
  border: none;
  background: var(--yellow);
  transition: transform 0.4s;
}

.header-icon:hover {
  transform: translateY(-4px);
}

.header-bottle-img {
  position: absolute;
  right: 0;
  top: 700px;
  transition: top 0.1s;
}
