.menu {
  color: var(--black);
}

.menu-button {
  background: var(--yellow);
  margin-top: 40px;
}

.menu-button-openmenu {
  font-size: 50px;
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 0;
  margin: 0;
}
