.menu {
  color: var(--black);
  position: relative;
  overflow: hidden;
}

.menu-hidden {
  background: var(--white);
  position: absolute;
  z-index: 5;
  overflow-x: hidden;
  transform: translateX(2400px);
  transition: transform 0.4s;
}

.menu-hidden.is-open {
  transform: translateX(403px);
  overflow-x: visible;
  position: fixed;
}

.menu-button {
  font-family: "futura-pt-bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  z-index: 5;
  right: 60px;
  transition: transform 0.3s;
}

.menu-button.hidden-scroll {
  transform: translatey(-200px);
}

.menu-hidden a.menu-ancre {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
}

.menu-border {
  position: relative;
}

.menu-border-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 5px;
  background: var(--bar-color, black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.menu-border:hover .menu-border-hover {
  transform: scaleX(1.2);
  transform-origin: left;
}

.menu-hidden .menu-button-closemenu {
  color: var(--white);
  font-family: "futura-pt-bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 60px;
  top: 40px;
}

.menu-img-burgermenu {
  position: absolute;
  width: 80%;
  top: 10px;
  left: -80px;
}

.menu-language-section {
  position: absolute;
  right: 60px;
  bottom: 90px;
  display: flex;
  flex-direction: column;
}

.menu-language-ancre {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-language-ancre:hover {
  text-decoration: underline;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white-blur);
  backdrop-filter: blur(10px);
  display: none;
  z-index: 2;
}

.menu-overlay.is-visible {
  display: block;
}
