.l-header-logo {
  margin: auto;
  margin-top: 590px;
}

.l-header-profil-and-shop {
  background: var(--yellow);
  padding: 14px 24px;
  display: flex;
  margin-top: 30px;
  margin-left: 62px;
}

.l-header-icon-profil {
  margin-right: 40px;
}

.l-menu-hidden {
  padding-left: 200px;
}

.l-menu-button {
  background: var(--yellow);
  margin-top: 40px;
  padding: 14px 33px;
}

.l-menu-button-closemenu {
  padding: 14px 13px;
  background: var(--yellow);
}

.l-menu-ancre {
  padding-top: 35px;
}

.l-menu-ancre-section {
  margin-top: 120px;
  margin-right: 120px;
  margin-bottom: 100px;
}

.l-presentation-text p {
  margin-top: 132px;
}

.l-presentation-text {
  margin-bottom: 166px;
}

.l-biere-button {
  padding: 20px 31px;
}

.l-beer-ingredient {
  padding-bottom: 100px;
}

.l-decouvertes {
  padding-top: 93px;
}

.l-decouvertes-text h2 {
  margin-bottom: 128px;
}

.l-decouvertes-text p {
  margin-bottom: 30px;
}

.l-decouvertes-button button {
  margin-left: 25px;
  margin-top: 158px;
  padding: 21px;
  background: var(--black);
}

.l-engagement {
  padding-top: 166px;
}

.l-engagement-img-fields {
  margin-left: 108px;
}

.l-engagement-text h2 {
  margin-top: 51px;
  padding-bottom: 132px;
}

.l-tasting-text {
  margin-top: 48px;
  margin-bottom: 486px;
}

.l-tasting-button button {
  padding: 21px;
  margin-left: 25px;
  margin-top: 100px;
  background: var(--black);
}

.l-footer-text-inscription {
  margin-top: 20px;
  margin-bottom: 20px;
}

.l-footer-img-logo {
  margin: 150px 133px 170px 74px;
}

.l-footer-reseauxsociaux {
  margin-bottom: 41px;
}

.l-footer-reseauxsociaux h5 {
  padding: 30px 0 15px;
}
